# Compiled output
/dist
/tmp
/out-tsc
*.tsbuildinfo

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Logs
logs
*.log

# Testing
/coverage
/.nyc_output

# Misc
*.swp
*.swo
*~
.cache
